**/.idea/
**/__pycache__/
**/venv/
scipy_testing/entity-annotated-corpus/ner.csv 
textracting/*.json
textracting/*.csv
textracting/*.txt
**/.ipynb_checkpoints/
textracting/*.ipynb
textracting/datasets/not_using
investigations/
textracting/production/
textracting/reports/
textracting/training/