**/.idea/
**/__pycache__/
**/venv/
**/1000sample/
**/nottraining/
scipy_testing/entity-annotated-corpus/ner.csv 
textracting/*.json
textracting/*.csv
textracting/*.txt
textracting/bh_refs_all_tables.xlsx
**/.ipynb_checkpoints/
#textracting/*.ipynb
textracting/datasets/not_using
investigations/
results/
textracting/production/
textracting/downloadedReports/
textracting/trainingFiles/
textracting/html/
scipy_testing/